<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">WELCOME TO PROFILE</h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <td>Employer Name</td>
                <td>{{details?.emp_name}}</td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>{{details?.emp_name}}</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>{{details?.emp_name}}</td>
            </tr>
            <tr>
                <td>Photo</td>
                <td>{{details?.emp_photo}}</td>
            </tr>
            <tr>
                <td>Branch Name</td>
                <td>{{details?.branch_name}}</td>
            </tr>
            <tr>
                <td>Bank Name</td>
                <td>{{details?.bank_name}}</td>
            </tr>
        </table>
    </div>
</div>